.HW12 {
  padding-top: 30px;
  padding-left: 20px;
}
.tagName:first-of-type {
  margin-left: 10px;
}

.tagName {
  top: 1.5px;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
}

.tagName:hover {
  background-color: #eee;
}

.tagName.choice {
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}

.content {
  border-top: 1px solid #ccc;
}