.tagsPool {
  display: flex;
}

.tags {
  width: 60px;
  height: 40px;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  border: solid gray;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 0px 0px 1px 0px;
}

.tagChoice {
  border: solid gray;
  border-width: 1px 1px 0px 1px;
}

.tagWhite {
  flex: 1;
  border: solid gray;
  border-width: 0px 0px 1px 0px;
}
