.container {
  padding: 20px;
  display: flex;
  /* border: 1px solid red; */
}

.productArea {
  /* width: 720px; */
  margin: 10px;
  flex: 3;
  /* display: flex; */
  /* border: 1px solid pink; */
}

.product {
  /* width: 160px; */
  margin: 10px;
  padding: 10px;
  width: calc(25% - 20px);
  display: inline-block;
  border:1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.input {
  width: 100%;
  margin: 4px;
}

.cartArea {
  /* width: 250px; */
  flex: 1;
  margin: 10px;
  /* border: 1px solid yellow; */
}

.productInCart {
  /* width: 240px; */
  height: 45px;
  margin: 5px;
  display: flex;
  /* border: 1px solid green; */
}

.subtotal {
  flex: 1;
}

.buttonInCart {
  /* width: 100px; */
  /* float: right; */
  height: fit-content;
  margin-top: 0;
  margin-bottom: 0;
}